# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*.{ts,tsx,js,jsx}]
charset = utf-8
indent_style = tab
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.swift]
indent_style = space
indent_size = 4

[*.kt]
indent_style = space
indent_size = 4
